# Bỏ qua môi trường ảo
myenv/
venv/

# Bỏ qua file save cá nhân của bạn
save_games.json

# Giữ các cài đặt riêng tư của bạn trên máy
.vscode/

# Python tự tạo ra các file này khi chạy
__pycache__/
*.pyc

# File hệ thống của OS
.DS_Store
Thumbs.db

#
.python-version